.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header h1{
  font-family: inter, sans-serif;
  position: relative;
}

.header img {
  height: 3rem;
}

.branding {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search input{
  width: 1;
}