.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header h1{
  font-family: cinzel, sans-serif;
  font-size: 2rem;
}

.header img {
  height: 3rem;
}

.branding {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
