.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.header h1{
  font-family: inter, sans-serif;
}

.header img {
  height: 5rem;
}

.branding {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}