.buscarLivros {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
  width: 100%;
}

.search input[type="search"] {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #7e4286;
  font-size: 1rem;
  max-width: 500px;
  width: 100%;
}

.filtro select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #7e4286;
  font-size: 1rem;
}

.listaLivros {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin-top: 2rem;
}
