.principaisLivros {
  position: absolute;
  bottom: 200px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.livros {
  display: flex;
  justify-content: center;
  background-color: #242424;
  padding: 10px 0;
}
