.principaisLivros {
  position: absolute;
  bottom: 200px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.livros {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  gap: 50px;
  padding: 20px;
  border-radius: 10px;
}

.main{
  display: flex;
  width: 70%;
  margin: auto;
  margin-top: 7rem;
}