.icon {
  background-color: #6b6b6b;
  height: 30px;
  width: 30px;
  border-radius: 100px;
  cursor: pointer;
  transition: scale 0.2s ease-in-out;
}

.icon:hover {
  scale: 1.1;
}

.userNav {
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
  height: 100vh;
  background-color: #0c0c0c;
  margin: 0;
  text-align: right;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.userNavAberto {
  transform: translateX(0);
}

.userNav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 25px;
}

.userNav li {
  list-style: none;

}

.userNav li:hover {
  color: #6b6b6b;
}